.blackout {
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
    }
}

.wedding-organization-section2 {
    padding: 60px 0 50px 0;
    .wedding-organization-section2__title {
        padding: 28px 60px 32px 60px;
        margin-bottom: 60px;
        background-color: $orange2;
        h3 {color: $violet1;}
    }
    .text-with-lines {
        max-width: 950px;
        padding: 0 60px;
        p {color: $brown2;}
    }
}

.wedding-organization-section3 {
    .container {
        padding: 0 60px;
        h4 {
            margin-bottom: 40px;
            color: $red2;
        }
        .cost-tables {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 20px;
            .cost-table {
                display: flex;
                flex-direction: column;
                border-radius: 5px;
                overflow: hidden;
                box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
                .cost-table__header {
                    padding: 19px 6px 22px 6px;
                    text-align: center;
                    color: $white;
                    span {
                        font-family: "NewsCycle-Bold";
                        letter-spacing: 0.02em;
                    }
                }
                .cost-table__content {
                    flex: 1 1 auto;
                    padding: 20px 30px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    background-color: rgba(255, 255, 255, 0.84);
                    p {
                        flex: 1 1 auto;
                        font-size: 15px;
                        line-height: 133%;
                        letter-spacing: 0.02em;
                        text-align: center;
                        color: $brown2;
                    }
                    button {
                        font-size: 15px;
                        padding: 10px 30px 13px 30px;
                        margin-top: 20px;
                        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
                    }
                }
            }
            .cost-table:first-child {
                .cost-table__header {background-color: $orange2;}
            }
            .cost-table:nth-child(2) {
                .cost-table__header {background-color: $red2;}
            }
            .cost-table:nth-child(3) {
                .cost-table__header {background-color: $violet2;}
            }
            .cost-table:nth-child(4) {
                .cost-table__header {background-color: $red1;}
            }
        }
        .cost-table2 {
            grid-template-columns: 1fr auto;
            max-width: 748px;
            margin: 55px auto 0 auto;
            .cost-table2__column {
                div {padding: 0 50px;}
            }
        }
    }
}

.wedding-organization-section4 {
    .container {
        padding: 55px 60px 65px 60px;
        h4 {
            margin-bottom: 40px;
            color: $red2;
        }
        .text-with-lines {
            max-width: 500px;
            p {color: $brown2;}
        }
        .cost-table2 {
            grid-template-columns: 1fr auto auto;
            max-width: 748px;
            margin: 50px auto 0 auto;
            .cost-table2__column {
                div {padding: 0 30px;}
            }
        }
    }
}

.wedding-organization-section6 {
    .container {
        padding: 50px 60px 65px 60px;
        h4 {color: $red2;}
        .cost-table2 {
            grid-template-columns: 1fr auto;
            width: fit-content;
            margin: 40px auto 0 auto;
            .cost-table2__column {
                div {padding: 0 50px;}
            }
        }
    }
}

@media (max-width: 1300.9px) and (min-width: 321px) {
    .wedding-organization-section2 {
        padding: calc(30px + (60 - 30) * ((100vw - 321px) / (1300 - 321))) 0
                 calc(25px + (50 - 25) * ((100vw - 321px) / (1300 - 321))) 0;
        .wedding-organization-section2__title {
            padding: calc(14px + (28 - 14) * ((100vw - 321px) / (1300 - 321)))
                     calc(15px + (60 - 15) * ((100vw - 321px) / (1300 - 321)))
                     calc(16px + (32 - 16) * ((100vw - 321px) / (1300 - 321)))
                     calc(15px + (60 - 15) * ((100vw - 321px) / (1300 - 321)));
            margin-bottom: calc(30px + (60 - 30) * ((100vw - 321px) / (1300 - 321)));
        }
        .text-with-lines {
            max-width: calc(450px + (950 - 450) * ((100vw - 321px) / (1300 - 321)));
            padding: 0 calc(15px + (60 - 15) * ((100vw - 321px) / (1300 - 321)));
        }
    }
    .wedding-organization-section3 {
        .container {
            padding: 0 calc(15px + (60 - 15) * ((100vw - 321px) / (1300 - 321)));
            h4 {margin-bottom: calc(20px + (40 - 20) * ((100vw - 321px) / (1300 - 321)));}
            .cost-tables {
                gap: calc(12px + (20 - 12) * ((100vw - 321px) / (1300 - 321)));
                .cost-table {
                    .cost-table__header {
                        padding: calc(12px + (19 - 12) * ((100vw - 321px) / (1300 - 321))) 6px
                                 calc(12px + (22 - 12) * ((100vw - 321px) / (1300 - 321))) 6px;
                    }
                    .cost-table__content {
                        padding: calc(12px + (20 - 12) * ((100vw - 321px) / (1300 - 321)))
                                 calc(15px + (30 - 15) * ((100vw - 321px) / (1300 - 321)));
                        p, button {font-size: calc(10px + (15 - 10) * ((100vw - 321px) / (1300 - 321)));}
                        button {
                            padding: calc(7px + (10 - 7) * ((100vw - 321px) / (1300 - 321)))
                                     calc(15px + (30 - 15) * ((100vw - 321px) / (1300 - 321)))
                                     calc(8px + (13 - 8) * ((100vw - 321px) / (1300 - 321)))
                                     calc(15px + (30 - 15) * ((100vw - 321px) / (1300 - 321)));
                            margin-top: calc(12px + (20 - 12) * ((100vw - 321px) / (1300 - 321)));
                        }
                    }
                }
            }
            .cost-table2 {
                max-width: calc(500px + (748 - 500) * ((100vw - 321px) / (1300 - 321)));
                margin: calc(30px + (55 - 30) * ((100vw - 321px) / (1300 - 321))) auto 0 auto;
                .cost-table2__column {
                    div {padding: 0 calc(12px + (50 - 12) * ((100vw - 321px) / (1300 - 321)));}
                }
            }
        }
    }
    .wedding-organization-section4 {
        .container {
            padding: calc(30px + (55 - 30) * ((100vw - 321px) / (1300 - 321)))
                     calc(15px + (60 - 15) * ((100vw - 321px) / (1300 - 321)))
                     calc(35px + (65 - 35) * ((100vw - 321px) / (1300 - 321)))
                     calc(15px + (60 - 15) * ((100vw - 321px) / (1300 - 321)));
            h4 {margin-bottom: calc(20px + (40 - 20) * ((100vw - 321px) / (1300 - 321)));}
            .text-with-lines {max-width: calc(250px + (500 - 250) * ((100vw - 321px) / (1300 - 321)));}
            .cost-table2 {
                max-width: calc(500px + (748 - 500) * ((100vw - 321px) / (1300 - 321)));
                margin: calc(25px + (50 - 25) * ((100vw - 321px) / (1300 - 321))) auto 0 auto;
                .cost-table2__column {
                    div {padding: 0 calc(6px + (30 - 6) * ((100vw - 321px) / (1300 - 321)));}
                }
            }
        }
    }
    .wedding-organization-section6 {
        .container {
            padding: calc(25px + (50 - 25) * ((100vw - 321px) / (1300 - 321)))
                     calc(15px + (60 - 15) * ((100vw - 321px) / (1300 - 321)))
                     calc(35px + (65 - 35) * ((100vw - 321px) / (1300 - 321)))
                     calc(15px + (60 - 15) * ((100vw - 321px) / (1300 - 321)));
            .cost-table2 {
                margin: calc(20px + (40 - 20) * ((100vw - 321px) / (1300 - 321))) auto 0 auto;
                .cost-table2__column {
                    div {padding: 0 calc(6px + (50 - 6) * ((100vw - 321px) / (1300 - 321)));}
                }
            }
        }
    }
}

@media (max-width: 1200.9px) {
    .wedding-organization-section3 {
        .container {
            .cost-tables {
                grid-template-columns: 1fr 1fr;
                width: fit-content;
                margin: 0 auto;
                .cost-table {max-width: 275px;}
                .cost-table:nth-child(3), .cost-table:nth-child(4) {transition: transform 0.8s 1s, opacity 0.8s 1s, visibility 0.8s 1s;}
            }
            .cost-table2 {transition: transform 0.8s 1.5s, opacity 0.8s 1.5s, visibility 0.8s 1.5s;}
        }
    }
}

@media (max-width: 360.9px) {
    .wedding-organization-section3 {
        .container {
            .cost-tables {
                grid-template-columns: 1fr;
                .cost-table {max-width: none;}
                .cost-table:nth-child(2) {transition: transform 0.8s 1s, opacity 0.8s 1s, visibility 0.8s 1s;}
                .cost-table:nth-child(3) {transition: transform 0.8s 1.5s, opacity 0.8s 1.5s, visibility 0.8s 1.5s;}
                .cost-table:nth-child(4) {transition: transform 0.8s 2s, opacity 0.8s 2s, visibility 0.8s 2s;}
            }
            .cost-table2 {transition: transform 0.8s 2.5s, opacity 0.8s 2.5s, visibility 0.8s 2.5s;}
        }
    }
}

@media (max-width: 320.9px) {
    .wedding-organization-section2 {
        padding: 30px 0 25px 0;
        .wedding-organization-section2__title {
            padding: 14px 15px 16px 15px;
            margin-bottom: 30px;
        }
        .text-with-lines {padding: 0 15px;}
    }
    .wedding-organization-section3 {
        .container {
            padding: 0 15px;
            h4 {margin-bottom: 20px;}
            .cost-tables {
                gap: 12px;
                .cost-table {
                    .cost-table__header {padding: 12px 6px;}
                    .cost-table__content {
                        padding: 12px 15px;
                        p, button {font-size: 10px;}
                        button {
                            padding: 7px 15px 8px 15px;
                            margin-top: 12px;
                        }
                    }
                }
            }
            .cost-table2 {
                margin: 30px auto 0 auto;
                .cost-table2__column {
                    div {padding: 0 12px;}
                }
            }
        }
    }
    .wedding-organization-section4 {
        .container {
            padding: 30px 15px 35px 15px;
            h4 {margin-bottom: 20px;}
            .text-with-lines {max-width: 250px;}
            .cost-table2 {
                margin: 25px auto 0 auto;
                .cost-table2__column {
                    div {padding: 0 6px;}
                }
            }
        }
    }
    .wedding-organization-section6 {
        .container {
            padding: 25px 15px 35px 15px;
            .cost-table2 {
                margin: 20px auto 0 auto;
                .cost-table2__column {
                    div {padding: 0 6px;}
                }
            }
        }
    }
}