.wedding-decoration-section3 {
    .container {
        h4 {
            color: $red2;
            margin-bottom: 40px;
        }
    }
}

.wedding-decoration-section4 {
    .container {
        padding: 60px;
        .text-with-lines {max-width: 930px;}
        h4 {
            width: fit-content;
            transition: transform 0.8s 0.5s, opacity 0.8s 0.5s, visibility 0.8s 0.5s;
            margin-top: 50px;
            color: $red2;
        }
        .cost-table2 {
            grid-template-columns: 1fr 1fr;
            max-width: 748px;
            margin: 40px auto 60px auto;
            .cost-table2__column {
                div {padding: 0 30px;}
            }
        }
    }
}

@media (max-width: 1300.9px) and (min-width: 321px) {
    .wedding-decoration-section3 {
        .container {
            h4 {margin-bottom: calc(20px + (40 - 20) * ((100vw - 321px) / (1300 - 321)));}
        }
    }
    .wedding-decoration-section4 {
        .container {
            padding: calc(30px + (60 - 30) * ((100vw - 321px) / (1300 - 321)))
                     calc(15px + (60 - 15) * ((100vw - 321px) / (1300 - 321)));
            .text-with-lines {max-width: calc(620px + (930 - 620) * ((100vw - 321px) / (1300 - 321)));}
            h4 {margin-top: calc(25px + (50 - 25) * ((100vw - 321px) / (1300 - 321)));}
            .cost-table2 {
                max-width: calc(500px + (748 - 500) * ((100vw - 321px) / (1300 - 321)));
                margin: calc(20px + (40 - 20) * ((100vw - 321px) / (1300 - 321))) auto
                        calc(30px + (60 - 30) * ((100vw - 321px) / (1300 - 321))) auto;
                .cost-table2__column {
                    div {padding: 0 calc(12px + (30 - 12) * ((100vw - 321px) / (1300 - 321)));}
                }
            }
        }
    }
}

@media (max-width: 320.9px) {
    .wedding-decoration-section3 {
        .container {
            h4 {margin-bottom: 20px;}
        }
    }
    .wedding-decoration-section4 {
        .container {
            padding: 30px 15px;
            h4 {margin-top: 25px;}
            .cost-table2 {
                margin: 20px auto 30px auto;
                .cost-table2__column {
                    div {padding: 0 12px;}
                }
            }
        }
    }
}